<div class="row">
  <div class="col-3">
  <%= render 'users/sidemenu' %>
  </div>
  <div class="col-9 bg-white">
    <h2>プロフィール編集</h2><br>
    <div class="w-75 mx-auto">
      <%= form_with(model: @profile, local: true) do |f| %>  
        <%= f.label :username,'ユーザー名' %>
        <%= f.text_field :username, class: "form-control" %><br>
        <%= f.label :first_user,'名前' %>
        <%= f.text_field :first_name, class: "form-control" %><br>
        <%= f.label :last_name,'苗字' %>
        <%= f.text_field :last_name, class: "form-control" %><br>
        <div class="w-25">
        <%= f.label :sex,'性別' %>
        <%= f.select :sex,Profile.sexes.keys.to_a, { include_blank: '選択してください'}, class: "form-control" %>
        </div><br>
        <div class=" w-25">
        <%= f.label :body_length,'身長' %>
        <div class="input-group-append">
        <%= f.text_field :body_length, class: "form-control" %>cm
        </div>
        </div><br>
        <%= f.label :introduction,'自己紹介' %>
        <%= f.text_area :introduction, class: "form-control" %><br>

        <%= f.submit "編集する", class: "btn btn-lg, btn-success" %>
      <% end %><br>
    </div><hr>
  <%= link_to 'ホームに戻る', user_path(@profile.user_id) %>
  </div>
</div>