<div class="row">
  <div class="col-3">
    <%= render 'users/sidemenu' %>
  </div>
  <div class="col-9">
    <h3>購入済みアイテム</h3><br>
    <% @bought_items.each do |item| %>
      <div class="card w-50 mb-2" style="background-color:#f8c983;">
        <div class="row" style="margin:0;">
        <%= image_tag 'item_default.png', class:"record" %>
          <div class="col">
            <small><%= item.name %></small><br>
            <small><%= item.brand %></small><br>
            <small><%= item.price %>円|</small><br>
            <small><%= item.user.profile.username %>
          </div>
        </div>
       </div>
    <% end %>
  </div>
</div>