<h1>ユーザー一覧</h1><br>
<div class="row">
  <div class="col-4">
      <div class="jumbotron">
      <h5><strong>ユーザー検索</strong></h5><hr><br>
        <%= search_form_for @q do |f| %>
        <div class="" > 
          <%= f.search_field :profile_username_cont, placeholder: "ユーザー名..",class: "form-control" %><br>
    
          <%= f.radio_button :profile_sex_eq, '', {:checked => true} %>指定なし
          <%= f.radio_button :profile_sex_eq, 1 %>女性
          <%= f.radio_button :profile_sex_eq, 2 %>男性
          <br><br>
          <%= f.label :body_length,"身長" %>:<br>
          <%= f.number_field :profile_body_length_gteq %>cm以上〜<br><br>
          <%= f.number_field :profile_body_length_lt %>cm未満
          
          <br><br><br><hr>
          <%= f.submit '検索', class: "btn btn-dark btn-block" %>
        </div>
        <% end %>
      </div>
  </div>

  <div class="col-8">
    <% @results.each do |user| %>
      <div class="card mb-3 scale">
        <div class="card-body border-bot ">
            <i class="fas fa-user-circle"></i>
              <span>　id: <%= user.id %>｜</span>
              <%= user.profile.username %>
              <span>｜性別:</span>
              <span>｜身長:</span>
              <span>｜<i class="fas fa-users"></i>
                <%= user.followers.count %>
              </span>
              <span>｜<i class="fas fa-tshirt"></i>
                <%= user.items.count %>
              </span>
             
              <% if user.id != current_user.id %> 
              <div class="float-right">
                <%= render 'follow_form', user: user %>
              </div>
              <% end %>
        </div>
      </div>
    <% end %>
    
  </div>
</div>