<div class="row">
 
  <div class="col-3">
    <% if @user.id == current_user.id %>
      <%= render 'users/sidemenu' %>
    <% end %>
  </div>
  
  <div class="col-9"><br>
     <div class=" bg-info" style="padding:5px;">
       <div class="row">
          <div class="col-4">
            <div class="image_default">
              <i class="fas fa-user-alt"></i>  
            </div><br>
            <h6>フォロワー：<%= @user.followers.count %></h6>
            <h6>投稿：<%= @user.items.count %></h6><br>
            <% if @user.id != current_user.id %> 
            <%= render 'follow_form', user: @user %>
            <% end %>
          </div>
          <div class="col-8">
            <table class="table table-light table-striped w-75 mt-3">
            <tbody>
              <tr>
                <th>ユーザーid</th>
                <td><%= @user.id %></td>
              </tr>
               <tr>
                 <th>ユーザー名</th>
                 <td><%= @user.profile.username %></td>
               </tr>
               <tr>
                 <th>メールアドレス</th>
                 <td><%= @user.email %></td>
               </tr>
               <tr></tr>
             </tbody>
            </table>
            <div class="w-75">
            <%= render 'profiles/profile' %>
          </div><br>
         </div>
      </div>
     </div><br><br>
    
     <h3>フォロー中のユーザー<i class="fas fa-users"></i></h3><br>
     <div class="row">
       <% @user.following.each do |user| %>
       <div class="card w-50 mb-2">
           <div class="card-body border-bot">
             <%= link_to user_path(user) do %>
               <%= user.profile.username %>
             <% end %>
             <span>｜<i class="fas fa-users"></i>
               <%= user.followers.count %></span>|
               投稿: <i class="fas fa-camera-retro"></i>
               <%= user.items.count %>
           </div>
        </div>
        <% end %>
     </div><br><br>
     
   </div>
  </div>
</div>