<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <title>Fukuota</title>
</head>
<body>
<div class="full">
<%= image_tag '322207.jpg', class:"full" %>
  <div class="top_page">
    <div class="top_title">
    <p>WELCOME Fukuota</p>
      <div>
        <%= link_to "アカウント新規登録", new_user_registration_path, class:"btn btn-outline-primary btn-block" %><br>
        <%= link_to "ログイン", new_user_session_path,class:"btn btn-info btn-block" %><br><br>
       
      </div>
  </div>
</div>
</body>
</html>