<div class="list-group">
    <span class="list-group-item bg-secondary"><strong style="color:#fff">人気の投稿　</strong><i class="fas fa-list-ol float-right"></i></span>
    <span class="list-group-item">
    <% if @trend_categories_id[0].present? %>
      <small>
        <%= link_to category_path(@trend_categories_id[0][0]) do %>
          <%= @trend_categories_name[0][0] %>
        <% end %>
      </small>
        <div class="badge badge-info float-right" >
          　<%= @trend_categories_name[0][1] %>
        </div>
    <% else %>
      <small>未設定</small>
    <% end %>
      </span>

    <span class="list-group-item">
    <% if @trend_categories_id[1].present? %>
      <small>
        <%= link_to category_path(@trend_categories_id[1][0]) do %>
        <%= @trend_categories_name[1][0] %>
      <% end %>
      </small>
      <div class="badge badge-warning float-right" >
        　<%= @trend_categories_name[1][1] %>
      </div>
    <% else %>
      <small>未設定</small>
    <% end %>
    </span>

    <span class="list-group-item">
    <% if @trend_categories_id[2].present? %>
      <small>
        <%= link_to category_path(@trend_categories_id[2][0]) do %>
        <%= @trend_categories_name[2][0] %>
      <% end %>
      </small>
      <div class="badge badge-danger float-right" >
        　<%= @trend_categories_name[2][1] %>
      </div>
    <% else %>
      <small>未設定</small>
    <% end %>
      </span>
    <span class="list-group-item">
    <% if @trend_categories_name[3].present? %>
      <small><%= @trend_categories_name[3][0] %></small>
      <div class="badge badge-dark float-right" >
        　<%= @trend_categories_name[3][1] %>
      </div>
    <% else %>
      <small>未設定</small>
    <% end %>
    </span>
    <span class="list-group-item">
    <% if @trend_categories_name[4].present? %>
      <small><%= @trend_categories_name[4][0] %></small>
      <div class="badge badge-dark float-right" >
        　<%= @trend_categories_name[4][1] %>
      </div>
    <% else %>
      <small>未設定</small>
    <% end %>
    </span>
  </div><br><br><br>