<h3>投稿を編集する</h3><br>
    <%= form_with(model: @item, local: true) do |f| %>  
      <div class="w-50">
        <%= f.label :name %>
        <%= f.text_field :name, class:"form-control" %>
      </div><br>
      <div class="w-50">
        <%= f.label :brand %>
        <%= f.text_field :brand, class:"form-control" %>
      </div><br>
      <div class="w-25">
      <%= f.select :category_id, Category.all.where(ancestry: "1").collect { |p| [ p.name, p.id ] }, { include_blank: '選択してください' }, class:"form-control" %>
      </div><br>
      <div class="mb-3 w-25">
      <%= f.label :status,'アイテムの状態' %><div class="badge badge-danger" >必須</div><br>
      <%= f.select :status, Item.statuses.keys.to_a, { include_blank: '選択してください'}, class: "form-control" %>
      </div>
      <div class="w-25">
        <%= f.label :price %>
        <%= f.text_field :price, class:"form-control" %>
      </div><br>
      <div class="w-50">
        <%= f.label :content %>
        <%= f.text_area :content, class:"form-control" %>
      </div><br>
     
      
      <%= f.submit "編集する", class: "btn btn-lg, btn-success" %>
    <% end %><br><hr>

  <%= link_to 'Myページに戻る', item_path(@item.id) %>