<h3>投稿編集</h3><hr>
  <div class="">
    <div class="mx-auto w-75">
      <%= form_with(model: @item, local: true) do |f| %>  
      <div class="w-75">
        <strong><%= f.label :name %></strong>
        <%= f.text_field :name, class:"form-control" %>
      </div><br>

      <div class="w-75">
        <strong><%= f.label :brand %></strong>
        <%= f.text_field :brand, class:"form-control" %>
      </div><br>

      <div class="w-50">
        <strong><%= f.label :category, '商品カテゴリ' %></strong>
        <%= f.select :category_id, Category.all.where(ancestry: "1").collect { |p| [ p.name, p.id ] }, { include_blank: '選択してください' }, class:"form-control" %>
      </div><br>

      <div class="mb-3 w-50">
        <strong><%= f.label :status %></strong>
        <%= f.select :status, Item.statuses.keys.to_a, { include_blank: '選択してください'}, class: "form-control" %>
      </div>

      <div class="mb-3 w-50">
        <strong><%= f.label :delivery_from %></strong>
        <%= f.select :delivery_from, Item.delivery_froms.keys.to_a, { include_blank: '選択してください'}, class: "form-control" %>
      </div>

      <strong><%= f.label :price %></strong>
        <div class="mb-5 w-50 form-inline">
          <%= f.text_field :price,  placeholder: "商品価格..", class: "form-control" %><span>円(税込)</span>
        </div>

      <div class="w-75">
        <strong><%= f.label :content %></strong>
        <%= f.text_area :content, class:"form-control", rows:"5" %>
      </div><br>

      <%= f.submit "編集する", class:"btn btn-info btn-lg btn-block w-75" %>
    <% end %><br><hr>
  </div>
  </div>
  <%= link_to 'Myページに戻る', item_path(@item.id) %>