<div>
<div class="row">
  <div class="col-3">
    <%= render 'items/searchbox' %>
    <%= render 'items/ranking' %>
    <%= render 'categories/menu2' %>
    <%= render 'items/new' %> 
  </div>

  <div class="col-9">  
    <%= render 'homes/slider' %>
    <br><br><h2 style="text-align:center">投稿一覧</h2><br>
    <div class="index">
      <%= render 'items', items: @results %>
    </div>
  </div>
</div>
<br><br><br><br><%= paginate @results %>
</div>