<h2 style="text-align:center">投稿一覧</h2>
<div class="row">
  <div class="col-3">
  <div class="list-group">
    <span class="list-group-item bg-secondary"><strong style="color:#fff">人気の投稿　</strong><i class="fas fa-list-ol float-right"></i></span>
    <span class="list-group-item"><small><%= @trend_categories_name[0][0] %></small>
      <div class="badge badge-info float-right" >
        　<%= @trend_categories_name[0][1] %>
      </div></span>
    <span class="list-group-item"><small><%= @trend_categories_name[1][0] %></small>
      <div class="badge badge-warning float-right" >
        　<%= @trend_categories_name[1][1] %>
      </div>
    </span>
    <span class="list-group-item"><small><%= @trend_categories_name[2][0] %></small>
      <div class="badge badge-danger float-right" >
        　<%= @trend_categories_name[2][1] %>
      </div>
    </span>
    <span class="list-group-item"><small><%= @trend_categories_name[3][0] %></small>
      <div class="badge badge-dark float-right" >
        　<%= @trend_categories_name[3][1] %>
      </div>
    </span>
    <span class="list-group-item"><small><%= @trend_categories_name[4][0] %></small>
      <div class="badge badge-dark float-right" >
        　<%= @trend_categories_name[4][1] %>
      </div>
    </span>
  </div><br><br><br>

    <%= render 'categories/menu2' %>
    <%= render 'items/new' %>
    
  </div>

  <div class="col-9">  
  <div class="card">
    <div class="card-body search_box">
      <h5><strong>投稿検索</strong></h5>
      
      <div class="w-50" >
        <%= form_with url: items_path, method: :get, local: true do |f| %>
          <div class="mb-3 mt-2">
            <%= f.text_field :name, placeholder: "アイテム名..", class: "form-control" %>
            <%= f.text_field :brand, placeholder: "ブランド..", class: "form-control" %>
            <%= f.button :type => "submit", class: 'btn btn-dark' do %>
              <i class="fas fa-search">検索</i>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br><br><br><br><%= paginate @items %>
    <br>
      <div class="index">
      <%= render 'items', items: @items %>
    </div>
  </div>
</div>
