<div>
<div class="row">
  <div class="col-3">
  <%= render 'items/searchbox' %>
  <div class="list-group">
    <span class="list-group-item bg-secondary"><strong style="color:#fff">人気の投稿　</strong><i class="fas fa-list-ol float-right"></i></span>
    <span class="list-group-item">
    <% if @trend_categories_id[0].present? %>
      <small>
        <%= link_to category_path(@trend_categories_id[0][0]) do %>
          <%= @trend_categories_name[0][0] %>
        <% end %>
      </small>
        <div class="badge badge-info float-right" >
          　<%= @trend_categories_name[0][1] %>
        </div>
    <% else %>
    <small>未設定</small>
    <% end %>
      </span>

    <span class="list-group-item"><small>
      <%= link_to category_path(@trend_categories_id[1][0]) do %>
        <%= @trend_categories_name[1][0] %>
      <% end %>
    </small>
      <div class="badge badge-warning float-right" >
        　<%= @trend_categories_name[1][1] %>
      </div>
    </span>
    <span class="list-group-item"><small>
      <%= link_to category_path(@trend_categories_id[2][0]) do %>
        <%= @trend_categories_name[2][0] %>
      <% end %>
      </small>
      <div class="badge badge-danger float-right" >
        　<%= @trend_categories_name[2][1] %>
      </div>
    </span>
    <span class="list-group-item"><small><%= @trend_categories_name[3][0] %></small>
      <div class="badge badge-dark float-right" >
        　<%= @trend_categories_name[3][1] %>
      </div>
    </span>
    <span class="list-group-item"><small><%= @trend_categories_name[4][0] %></small>
      <div class="badge badge-dark float-right" >
        　<%= @trend_categories_name[4][1] %>
      </div>
    </span>
  </div><br><br><br>

    <%= render 'categories/menu2' %>
    <%= render 'items/new' %>
    
  </div>

  <div class="col-9">  
    <%= render 'homes/slider' %>
    <br><br><h2 style="text-align:center">投稿一覧</h2><br>
    <div class="index">
      <%= render 'items', items: @results %>
    </div>
  </div>
</div>
<br><br><br><br><%= paginate @results %>
</div>