<h2 style="text-align:center">投稿一覧</h2>
<div class="row">
  <div class="col-3">

  <div class="list-group w-75">
    <span class="list-group-item bg-secondary"><i class="fas fa-list-ol"></i>人気投稿</span>
    <span class="list-group-item"><%= @trend_categories_name[0][0] %>
      <div class="badge badge-dark" >
        <%= @trend_categories_name[0][1] %>
      </div></span>
    <span class="list-group-item">Search</span>
    <span class="list-group-item">Search</span>
    <span class="list-group-item">Search</span>
    <span class="list-group-item">Search</span>
  </div><br><br><br>

    <%= render 'categories/menu2' %>
    <%= render 'items/new' %>
    
  </div>

  <div class="col-9">  
  <div class="card">
    <div class="card-body search_box">
      <h5><strong>投稿検索</strong></h5>
      
      <div class="w-50" >
        <%= form_with url: items_path, method: :get, local: true do |f| %>
          <div class="mb-3 mt-2">
            <%= f.text_field :name, placeholder: "アイテム名..", class: "form-control" %>
            <%= f.text_field :brand, placeholder: "ブランド..", class: "form-control" %>
            <%= f.button :type => "submit", class: 'btn btn-dark' do %>
              <i class="fas fa-search">検索</i>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <br><br><br><br><%= paginate @items %>
    <br>
      <div class="index">
      <%= render 'items', items: @items %>
    </div>
  </div>
</div>
