<%= paginate @items %><br>
<div class="row">
  <div class="col-3"><br>
    <%= render 'categories/menu2' %>

     <div class="new_blog">
        <%= link_to new_item_path do %>
        <div class="submit">
          <p>POST</p>
        <i class="fas fa-camera"></i>
        <% end %>
        </div>
     </div>
  </div>

  <div class="col-9">  
    <h4>みんなの投稿</h4><br>
  
    <div class="row row-cols-2 row-cols-md-3 g-4">
      <% @items.each do |item| %>
        <div class="col mb-3">
          <div class="card h-100 shadow">
          <%= link_to item_path(item.id) do%>
            <%= image_tag 'item_default.png' %>
            <% end %>
              <div class="card-footer" style="padding:0;">
              <p class="card-text"><small><%= item.name %></small></p>
                <div><i class="far fa-clock"></i>
                  <small><%= item.created_at.strftime('%Y/%m/%d') %>_by</small>
                  <span style="color:black;"><%= item.user.profile.username %></span>
                  
                </div>
                <i class="fas fa-heart unlike-btn"><%= item.favorites.count %></i><span>　</span>
                <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                <%= link_to item_path(item.id), method: :delete, data: {confirm: "本当に削除していいですか？"} do %>
                  <i class="fas fa-trash-alt"></i>
                <% end %>
                </div>
          </div>
          
        </div>
      <% end %>
      </div>
  </div>
</div>
