<div>
  <div class="row">
    <div class="col-3">    
      <%= render 'items/ranking' %>
    </div>
    <div class="col-9">  
      <%= render 'items/searchbox' %> 
    </div>
    
  </div>
<h2 class="border-bottom" style="text-align:center">投稿一覧</h2><br>
      <div class="index">
        <%= render 'items', items: @results %>
      </div><br><br><br><br>
  <%= paginate @results %>
</div>
<%= render 'items/new' %> 