
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
  <% if @item.errors.any? %>
    <div style="color:red;">
      <h2><%= @item.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
<% end %>
    <h2>新規投稿</h2><hr>
    <div class="jumbotron">
      <%= form_with(model: @item, local: true) do |form| %>
        <div class="mb-4 w-75">
          <strong><%= form.label :name %></strong>　<div class="badge badge-danger" >必須</div>
          <%= form.text_field :name,  placeholder: "アイテム名を入力..", class: "form-control" %>
        </div>
        <div class="mb-4 w-75">
          <strong><%= form.label :brand %></strong>　<div class="badge badge-danger" >必須</div>
          <%= form.text_field :brand,  placeholder: "ブランド", class: "form-control" %>
        </div>
        <div class="mb-4 w-50">
          <strong><%= form.label :category, 'カテゴリ選択' %></strong>　<div class="badge badge-danger" >必須</div>（*要修正箇所）<br>
          <%= form.select :category_id, Category.all.where(ancestry: "1").collect { |p| [ p.name, p.id ] }, { include_blank: '選択してください' },class: "form-control" %>
        </div>

        <div class="mb-4 w-50">
          <strong><%= form.label :status %></strong>　<div class="badge badge-danger" >必須</div><br>
          <%= form.select :status, Item.statuses.keys.to_a, { include_blank: '選択してください'}, class: "form-control" %>
        </div>

        <div class="mb-4 w-50">
          <strong><%= form.label :delivery_from %></strong>　<div class="badge badge-danger" >必須</div><br>
          <%= form.select :delivery_from, Item.delivery_froms.keys.to_a, { include_blank: '選択してください'}, class: "form-control" %>
        </div>

        <strong><%= form.label :price %></strong>　<div class="badge badge-danger" >必須</div>
        <div class="mb-5 w-50 form-inline">
          <%= form.text_field :price,  placeholder: "", class: "form-control" %><span>円(税込)</span>
        </div>
        <div class="mb-3 w-75">
          <strong><%= form.label :content %></strong>
          <%= form.text_area :content, placeholder: "商品の紹介文..", class: "form-control", rows:"8" %>
        </div>
      
        <br>
          <%= form.submit '投稿する', class: "btn btn-info btn-lg btn-block w-75" %>
      <% end %>
    </div>
  </div>
</div>


