<h2>アイテム詳細</h2>
<div class="row">
  <div class="col-2">
  
  </div>
  <div class="col-9">
    <div class="jumbo ">
      <div class="row">
      <% if @item.image.attached? %>
      <%= image_tag @item.image.variant(resize:'300x400') %>
      <% else %>
        <%= image_tag 'item_default.png' %>
      <% end %>
        <table class="table w-50 ml-3">
          <tbody>
              <tr>
                <th>投稿者</th>
                <td><%= @item.user.profile.username %></td>
              </tr>
              
              <tr>
                <th>アイテム名</th>
                <td><%= @item.name %></td>
              </tr>
              <tr>
                <th>ブランド名</th>
                <td><%= @item.brand %></td>
              </tr>
              <tr>
                <th>商品カテゴリ</th>
                <td><%= @item.category.parent.name %>>
                  <%= link_to category_path(@item.category_id) do %>
                    <%= @item.category.name %></td>
                  <% end %>
              </tr>
              
              <tr>
                <th>商品の状態</th>
                <td><%= @item.status %></td>
              </tr>
              <tr>
                <th>出品地域</th>
                <td><%= @item.delivery_from %></td>
              </tr>
              <tr>
                <th>アイテム紹介</th>
                <td><%= @item.content %></td>
              </tr>
              <tr>
                <th>お気に入り</th>
                <td><i class="fas fa-heart unlike-btn"><%= @item.favorites.count %></i>
                　　　<%= render 'favorites/index' %>
                </td>
              </tr>
          </tbody>
        </table>
        <% if @item.user_id == current_user.id %>
        <%= link_to edit_item_path(@item) do %>
          <i class="fas fa-edit"></i>｜
          <% end %>
        <%= link_to item_path(@item.id), method: :delete, data: {confirm: "本当に削除していいですか？"} do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <% end %>
      </div>
      <i class="far fa-clock"></i><small><%= @item.created_at.strftime('%Y-%m-%d %T') %></small>
        <div class="mx-auto">
          <table class=" mx-auto">
          <tbody>
          <tr>
            <th><h5>金額：</h5></th>
            <td><h5>　　<%= @item.price.to_s(:delimited, delimiter: ',') %><strong>円（税込）</strong></h5></td>
          </tr>
         </tbody></table>
        </div>
    </div> 
   
      <% if @item.buyer_id.present? %>
        <fieldset disabled><button class="btn btn-secondary btn-lg btn-block align-items-end">SOLD OUT</button></fieldset>
      <% elsif @item.user_id == current_user.id %>
        <fieldset disabled><button class="btn btn-primary btn-lg disabled btn-block align-items-end">投稿中アイテム</button></fieldset>
      <% else%>
        <%= link_to "購入画面にすすむ", purchase_item_path(@item), class: "btn btn-info btn-lg btn-block align-items-end" %>
      <% end %>
      </div>
</div> <hr>
<div class="row">
  <div class="col-2">  <%= link_to "投稿一覧", items_path %>
  </div>
  <div class="col-9">
    <div class="jumbotron">
      <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, item: @item } %>
      </div></div>
      <%= render partial: 'comments/form', locals: { comment: @comment, item: @item } %>
    
  </div>
</div>
