<div id="menu-tittle">
<i class="fas fa-list" style="color:orange;"></i>カテゴリ検索
</div>
  <ul id="sample">
   <% @parents.each do |parent| %>
   <li>
     
     <a><%= parent.name %></a>
     
     <ul>
       <h3><%= parent.name %></h3>
       <% parent.children.each do |child| %>
       <li>
       
          <a> <%= child.name %></a>
        
         <ul class="big">
           <h3><%= child.name %></h3>
           <% child.children.each do |grandchild| %>
           <li>
            
            <a> <%= grandchild.name %></a>
             
           <% end %>
           </li>
         </ul>
         <% end %>
       </li>
     </ul>
    </li>
   <% end %>
  </ul><hr> 